body {
    background-color: #333;
    color: white;
    text-align: center;
}

a:hover {
    color: chocolate;
}

a:active {
    color: coral;
}

a {
    color: orange;
}

a:visited {
    color: red;
}

#head1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
}

.head2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#subhead1 {
    margin-top: 0px;
}

.bodyText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.bodyDescriptor {
    font-size: 13px;
    line-height: 1;
    margin-top: 0;
    padding: 0;
}

#quoteAuthor {
    font-size: 12px
}

.subtitleText {
    font-size: 12px;
}

.comicList {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

.comicPics {
    align-items: center;
}