table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

td {
    font-family: 'Times New Roman', Times, serif;
}

.classPeriod {
    border: 1px dashed black;
    border-collapse: collapse;
    text-align: right;
    padding: 7px;
    padding-right: 14px;
    padding-left: 15px;
}

.classData {
    border: 1px dotted black;
    border-collapse: collapse;
    text-align: left;
    padding: 7px;
    padding-left: 14px;
    padding-right: 15px;
}

tr:hover {
    color: white;
    background-color: blue;
}